:root {
  --primary: #434242;
  --black: #333;
  --headings: #22a39f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: white;
  color: var(--primary);
  font-family: sans-serif;
  font-size: 1.3125rem;
  font-weight: 100;
  line-height: 1.64;
  color: var(--black);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

section,
address {
  padding: 3rem 0;
}

h2,
h3 {
  margin-bottom: 1em;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  /* min(min-width, max-width) */
}

input,
button,
textarea {
  font-size: inherit;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--headings);
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--headings);
}

.text-center {
  text-align: center;
}

.bg-cl-yellow {
  background: #f9f4e6;
}

.header-size {
  font-size: 200%;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: 900;
}

.mg-btm-2 {
  margin-bottom: 2rem;
}

.mg-btm-1 {
  margin-bottom: 1rem;
}

.mg-top {
  margin-top: 2rem;
}

.main-heading-text-container {
  height: 80vh;
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.main-heading-text {
  text-align: left;
  height: auto;
  width: 100%;
  color: var(--headings);
}

.bg-image {
  background-image: url(./images/me.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

hr {
  overflow: hidden;
  opacity: 15%;
  margin: 1.5rem 0;
}

.nav-items {
  text-align: center;
  color: var(--primary);
  padding: 0.4rem;
  font-weight: 600;
}
nav {
  border: 1px solid var(--black);
  margin-top: 0.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

nav a:hover {
  color: grey;
  transition: ease-in;
}

.border-btm {
  border-bottom: 1px solid var(--primary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.a-hover:hover {
  color: lightgrey;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 35em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }

  /* every cheld that has a child before it */
}

img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

.split a img:hover {
  background-color: lightgrey;
}

.scale {
  max-width: 6em;
}

.li-wrap {
  display: flex;
  /* flex-direction: column; */
}

.date {
  font-weight: 400;
  width: 23rem;
}

.info {
  width: calc(100% - 1rem);
}

.info-title {
  font-weight: 400;
  margin-bottom: 1em;
}
