.header__main-heading-text-container {
  height: 80vh;
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.header__main-heading-text {
  text-align: left;
  height: auto;
  width: 100%;
  color: var(--headings);
}

.header__bg-image {
  background-image: url(/images/me.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

@media (min-width: 40em) {
  .bg-image {
    background-size: contain;
  }
}

.header__nav-items {
  text-align: center;
  color: var(--primary);
  padding: 0.4rem;
  font-weight: 600;
}
