@import '/styles/_base.css';

:root  {
  --primary: #434242;
  --black: #333;
  --headings: #22a39f;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  /* min(min-width, max-width) */
}

.text-center {
  text-align: center;
}

.bg-cl-yellow {
  background: #f9f4e6;
}

.header-size {
  font-size: 200%;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: 900;
}

.mg-btm-2 {
  margin-bottom: 2rem;
}

.mg-btm-1 {
  margin-bottom: 1rem;
}

.mg-top {
  margin-top: 2rem;
}

.bg-black {
  background: #141112;
}

.main-heading-text-container {
  height: 80vh;
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.main-heading-text {
  text-align: left;
  height: auto;
  width: 100%;
  color: var(--headings);
}

.bg-image {
  background-image: url(./images/me.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

@media (min-width: 40em) {
  .bg-image {
    background-size: contain;
  }
}

.nav-items {
  text-align: center;
  color: var(--primary);
  padding: 0.4rem;
  font-weight: 600;
}

.border-btm {
  border-bottom: 1px solid var(--primary);
}

.a-hover:hover {
  color: lightgrey;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 35em) {
  .split {
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }

  /* every cheld that has a child before it */
}

img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

.split a img:hover {
  background-color: lightgrey;
}

.scale {
  max-width: 6em;
}

.li-wrap {
  display: flex;
  /* flex-direction: column; */
}

.date {
  font-weight: 400;
  width: 23rem;
}

.info {
  width: calc(100% - 1rem);
}

.info-title {
  font-weight: 400;
  margin-bottom: 1em;
}

.turn:hover {
  animation: linear turn 3s infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90eg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
